@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #007aff;
  --color-secondary: #6b7280;
  --color-dark: #1f2937;
  --color-light: #f9fafb;
  --color-text: #000000;
  --color-bg: #ffffff;

  --font-sans: "Inter", sans-serif;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.marquee-Gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}

html {
  scroll-behavior: smooth;
}
